@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(238, 237, 237);
  font-family: 'Open Sans', sans-serif;
}

.display {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mainDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  /* left: 25%; */
  margin: 20px;
  padding: 10px;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 12px;
}

.mainDiv .profile {
  display: flex;
  width: 97%;
}

.mainDiv .profile .profileimg {
  display: flex;

}

.mainDiv .profile .profileimg img {
  border-radius: 50%;

}

.mainDiv .profile .profiletittle {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
}

.mainDiv .profile .profiletittle span {
  font-size: 20px;
  font-weight: 900;
}

.mainDiv .profile .profiletittle .time {
  font-size: 15px;
  font-weight: 200;
}

.mainDiv .postrdescription {
  width: 97%;
  margin-top: -15px;
}

.mainDiv .postrdescription {
  padding: 5px;
}

.mainDiv .postimg {
  border: 1px solid rgb(29, 29, 29);
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}

.mainDiv .postimg img {
  width: 90%;
}

.mainDiv .btns {
  margin-top: 30px;
  display: flex;
  width: 95%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  height: 4vh;
  padding: 5px;
}

.mainDiv .btns div:hover {
  background-color: rgb(230, 230, 230);
}

.mainDiv .btns div {
  cursor: pointer;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.mainDiv .btns div span {
  margin-left: 6px;
}

@media only screen and (max-width:600px) {
  body {
    font-size: 10px;
  }
  .mainDiv .btns div img {
    width: 12px;
  }
}